nav{
    display: flex;
    border-bottom:  2px solid rgb(228, 196, 135);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
}

input {
    padding: 12px 20px;
    border: none;
    background: white;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.nav-icons{
    width: 1.15rem;
    height: 1.5rem;
    margin-left: 2rem;
    color: rgb(42, 39, 39);
}

.nav-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  /* Optionally, you can add some additional styling to enhance the appearance */
  .search-input:focus {
    outline: none;
    border-color: #007bff; /* Change the color when the input is focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow */
  }



